société météo

- appli suivre météo toulousaine
- besoin de données météo
- données ouvertes
- récup les datas depuis site
- créer un modèle des données 
- clean code

- création d'un dashboard **simple**
- possibilité de choisir une station météo pour afficher données spécifiques
- voir un historique semaine

source :

# Modélisation de la BDD

## Ville :
- nom    
- stations []

---    

## Station :
- id 
- nom    
- releves []

## Releve
- station
- datetime
- température
- humidite
- pression

--- 

## IDataExtractor
**Méthodes:**
- extract()

### APIExtractor
- api_url
- api_key
**Méthodes:**
- extract()
-fectch_data()

## IDataTester
- test_data_format()
- test_aberration()


*## Cleaner*
***Méthodes:***
*- dedoublonner*
*- retirer incohérence*


## Afficheur
**Méthodes:**
- afficher les données

# ETL_Pipeline
## APIExtrator
- api_url
- api_key
    + extract()
    + fetch_data()

## DataTester
### TestGoodForamt
- test_good_format()
### Remove null
    - remove_null

In [ ]:
from datetime import datetime
import numpy as np
import pandas as pd
import requests

In [87]:
from utils.classes import City, Station, APIExtractor, DataTransformer, DataTester, DataLoader

In [88]:
compans = Station(id='42-station-meteo-toulouse-parc-compans-cafarelli', name="Compans Cafarelli")

extractor = APIExtractor()
data_transformer = DataTransformer()
data_tester = DataTester()
data_loader = DataLoader()

# Extraction et formatage
data = extractor.extract(compans)
data = data_transformer.format_datime(data)

# Test des valeurs
print(data_tester.is_format_correct(data))
print(data_tester.are_values_valid(data))

if data_tester.is_format_correct(data) and data_tester.are_values_valid(data):
    data_loader.add_reports(compans, data)

True
True

In [84]:
compans.get_all_reports()

,date,temperature,humidity,pressure,display_date
0,2025-11-03 16:00:00+00:00,15.7,68,100700,2025-11-03 16:00
1,2025-11-03 15:00:00+00:00,16.4,65,100700,2025-11-03 15:00
2,2025-11-03 14:00:00+00:00,16.7,67,100800,2025-11-03 14:00
3,2025-11-03 13:00:00+00:00,16.6,69,100900,2025-11-03 13:00
4,2025-11-03 12:00:00+00:00,14.9,78,101000,2025-11-03 12:00
...,...,...,...,...,...
64,2025-10-30 21:00:00+00:00,13.0,77,99600,2025-10-30 21:00
65,2025-10-30 20:00:00+00:00,12.7,79,99500,2025-10-30 20:00
66,2025-10-30 19:00:00+00:00,13.3,77,99500,2025-10-30 19:00
67,2025-10-30 18:00:00+00:00,14.3,74,99500,2025-10-30 18:00
68,2025-10-30 17:00:00+00:00,15.8,70,99500,2025-10-30 17:00